/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

h1 {
    text-align: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#child1, #child2, #child3, #child4 {
    height: 200px;
    width: 200px;
}

#child1 {
    background-color: red;
}
#child2 {
    background-color: gold;
}
#child3 {
    background-color: green;
}
#child4 {
    background-color: blue;
}

.parent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
